/* 
* Totter
* As in Teeter-Totter.
* Don't play totter with a fat-chick.
* You'll never get down.
* Color Scheme: http://colorschemedesigner.com/#3K40ysH----00
*/

/* Reset the browser */
@import url(css/reset.css);

/******************************************************************************************************************************************************
General Classes
******************************************************************************************************************************************************/
body {font-size: 16px;}
h1 {font-size: 1.8em;}
h2 {font-size: 1.4em;}
h3 {font-size: 1.3em;}
h4 {font-sze: 1.2em;}
h5 {font-size: 1.1em;}

a {text-decoration: none; color: 	#2471BE;}
a:hover {text-decoration: underline;}
.clearfloat {clear:both;}

/*******************************************************************************************************************************
 Form Elements 
*******************************************************************************************************************************/
label {font-size: 1.3em;}

/* Text Inputs and Textarea */
input[type=text], textarea {
	width: 98%;
	margin: 10px 0;
	padding: 5px;
	border: none;
	font-size: 16px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, .3);
	box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, .3);
}
input[type=text] {height: 30px;}

input[type=text]:focus,
textarea:focus {
	-webkit-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .3);
	box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .3);
}

/* Button and Submit Inputs */
button, input[type=submit] {
	color: #fff;
	font-weight: bold;
	margin: 10px 10px 10px 0;
	padding: 8px;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .3);
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .3);
	background: rgb(36,113,190); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI0NzFiZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZjYxYTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(36,113,190,1) 0%, rgba(31,97,163,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(36,113,190,1)), color-stop(100%,rgba(31,97,163,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(36,113,190,1) 0%,rgba(31,97,163,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(36,113,190,1) 0%,rgba(31,97,163,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(36,113,190,1) 0%,rgba(31,97,163,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(36,113,190,1) 0%,rgba(31,97,163,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2471be', endColorstr='#1f61a3',GradientType=0 ); /* IE6-8 */
}
button:hover,
input[type=submit]:hover {
background: rgb(31,98,165); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmNjJhNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZDU2OTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(31,98,165,1) 0%, rgba(29,86,147,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(31,98,165,1)), color-stop(100%,rgba(29,86,147,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(31,98,165,1) 0%,rgba(29,86,147,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(31,98,165,1) 0%,rgba(29,86,147,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(31,98,165,1) 0%,rgba(29,86,147,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(31,98,165,1) 0%,rgba(29,86,147,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f62a5', endColorstr='#1d5693',GradientType=0 ); /* IE6-8 */
}
button:active,
input[type=submit]:active {
	-webkit-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .3);
	box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, .3);
background: rgb(29,86,147); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFkNTY5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZjYyYTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(29,86,147,1) 0%, rgba(31,98,165,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(29,86,147,1)), color-stop(100%,rgba(31,98,165,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(29,86,147,1) 0%,rgba(31,98,165,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(29,86,147,1) 0%,rgba(31,98,165,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(29,86,147,1) 0%,rgba(31,98,165,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(29,86,147,1) 0%,rgba(31,98,165,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d5693', endColorstr='#1f62a5',GradientType=0 ); /* IE6-8 */
}


/******************************************************************************************************************************************************
Drop Shadows
******************************************************************************************************************************************************/
/* Base Drop Shadow */
.drop-shadow {
	position:relative;
	background-color:#fff;
/*
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2) inset;
*/
}
.drop-shadow:before,
.drop-shadow:after {
	content:"";
	position:absolute;
	z-index:-2;
}


/* Curved Shadows - This only does the left side */
.curved:before {
	top:10px;
	bottom:10px;
	left:0;
	right:50%;
	-moz-box-shadow: 0 0 20px rgb(36,113,190);
	-webkit-box-shadow: 0 0 20px rgb(36,113,190);
	box-shadow: 0 0 20px rgb(36,113,190);
	-moz-border-radius: 0px / 100px;
	border-radius: 0px / 100px;
}
/* Vertical Curve - both right and left sides */
.curved-vt-2:before {
	right:0;
}


/*********************************************************************************************************************************
Begin the document
*****************************************************************************************************************************/
body {
	color: #333;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	line-height: 1.28;
}

/* Centers a fixed width */
.wrapper {
	width: 600px;
	position: relative;
	margin: 20px auto;
	padding: 40px;
}

/********************************************************************************************
 Header
********************************************************************************************/
.header {
	padding: 10px 0;
	border-bottom: 1px solid #2471BE;
	margin-bottom: 20px;
}
h1.title {padding-bottom: 10px;}
.logo {color:#2471BE;}


/**************************************************
User Info Section 
**************************************************/
.user_info {
	float: right; 
	display: block;
	cursor: pointer;
}
.username_first_name {
	float: right; 
	line-height: 55px; 
	vertical-align: middle; 
	padding-right: 13px; 
	background: url(images/options_arrow_down.png) center right no-repeat; 
}
.user_photo {padding-right: 5px;}

/* User links tool tip */
.user_info ul {
	display: none; 
	text-decoration: none;
	padding: 10px;
}
.user_info:hover ul {
	display: block; 
	z-index: 100; 
	position: absolute;
	right: 30px; 
	top: 90px; 
	text-decoration: none;
}
.user_info ul li {
	padding: 5px 0;
	text-align: center;
}


/*****************************************************************************************************************************************
Footer
*******************************************************************************************************************************************/
ul.footer_links {
	height: 50px;
	position: absolute;
	bottom: -75px;
	left: 50%;
	margin-left: -230px;
}
ul.footer_links li {display: inline-block;}
ul.footer_links li a {color:#fff;}
.footer ul.footer_links {
	position: fixed;
	bottom: 20px;
	left: 50%;
	margin-left: -200px;
}

/*********************************************************************************************************************************************************
Login Page
*********************************************************************************************************************************************************/
.login_register_wrap {
	width: 250px;
	position: absolute;
	top: 40%;
	left: 50%;
	margin-top: -175px;
	margin-left: -175px;
	background: #fff;
	text-align: center;
	padding: 50px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.login_register_wrap form {padding-bottom: 10px;}
.forgot_password {font-size: 11px; position: absolute; right: 45px; top: 245px;}
div.remember_me {font-size: 11px; position: absolute; left: 50px; top: 275px;}
#loginForm input[type=submit] {margin: 15px 0 0 180px; width: 75px;}
.register {padding: 10px 0;}


/******************************************************************************************************************************************************
Create Page
******************************************************************************************************************************************************/
input[type=text].create_project_url {width: 445px;}


/******************************************************************************************************************************************************
Project Page
******************************************************************************************************************************************************/
.add_idea {display: none;}
.add_idea_modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 200px;
	padding: 20px;
	margin-left: -320px;
	margin-top: -240px;
	z-index: 200;
}
.add_idea_modal h1 {color: #2471BE;}
.add_idea_modal textarea {height: 75px;}
.add_idea_modal a {position: absolute; right: 25px; top: 15px;}
.add_idea_modal button {position: absolute; right: 15px; width: 100px; font-size: 1.1em;}
.add_idea_overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 199;
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(0,0,0,.6);
}
ul.tabs {
	padding-bottom: 4px;
	border-bottom: 1px solid #2471BE;
}
ul.tabs li {
	display: inline-block;
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 20px;
}
ul.tabs li a {
	padding: 5px 10px;
	background: #ccc;
	text-decoration: none;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-border-radius: 3px 3px 0 0;
}
ul.tabs li a:hover,
ul.tabs li a:active,
ul.tabs li a.active_tab {
	background: #2471BE;
	color: #fff;
}
ul.project_stats {
	padding: 10px 0;
	background: #efefef;
}
ul.project_stats li {
	display: inline-block;
	text-align: center;
	padding: 5px;
	margin: 0 10px;
	font-weight: bold;
}
span.project_stat {font-size: 1.3em;}
.add_idea_button {width: 125px; font-size: 1.1em; float: right;}

.sort_by {padding: 20px 0 0 0; margin-bottom: -15px;}
.sort_by button {width: 75px; font-size: 16px;}

/******************************************************************************************************************************************************
Project Overview
******************************************************************************************************************************************************/
div.project_description, 
ul.project_updates {margin-top: 10px; padding: 5px;}

ul.project_updates {background: #efefef;}

ul.project_updates li {
	padding: 8px 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ccc;
}
ul.project_updates li.first_update {border-top: none;}
ul.project_updates li.last_update {border-bottom: none;}
span.project_update_date {font-weight: bold;}


/******************************************************************************************************************************************************
Project Idea Page
******************************************************************************************************************************************************/
#new_project_idea input[type=submit] {
	float: right; 
	width: 100px; 
	margin: -5px 2px 0 0;
}
ul.project_ideas {margin-top: 20px;}
ul.project_ideas li {
	position: relative; 
	padding: 15px 0;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #ccc;
}
ul.project_ideas li.first_update {border-top: none;}
ul.project_ideas li.last_update {border-bottom: none;}
.idea_author {
	position: absolute;
	left: 5;
	top: 5;
	min-width: 75px;
	height: 100%;
}
.idea_author img {
	padding-top: 20px;
}
.idea_body {
	padding-top: 15px;
	margin-left: 60px; 
}
.username {margin-bottom: 15px;}
.idea_meta {padding-bottom: 5px;}
div.like_love {font-weight: bold; text-align: right;
	position: absolute;
	right: 0px;
	top: 65px;
}


/* Stars */
ul.idea_meta li {display: inline-block; border: none; padding-bottom: 0px; margin-top: -25px;}
.star, .star_active {
	height: 30px;
	width: 30px;
	display: block;
}
.star {	background: url(images/star-grey.png) center bottom no-repeat;}
.star_active {background: url(images/star.png) center bottom no-repeat;}
ul.star_tool_tip {
	display: none;
	position: absolute;
	top: 20px;
	left: 60px;
	padding: 10px 20px 0 20px;
	background-color:#fff;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}
.star_tool_tip:before,
.star_tool_tip:after {
	content:"";
	position:absolute;
	z-index:-2;
}
ul.star_tool_tip li {display: inline-block; border: none; color: #333; line-height: 30px; vertical-align: middle; font-weight: bold;}
ul.star_tool_tip li a:hover {text-decoration: none;}

/* END Stars */


.comment_time {font-size: 12px; padding: 5px 0;}

.new_comment {
	display: none;
	height: 50px;
	padding-bottom: 15px;
}
.enter_to_submit {
	font-size: 10px;
	position: absolute;
	bottom: 0;
	right: 3px;
}
ul.project_idea_comments {
	background: #efefef;
	padding: 10px;
}
ul.project_idea_comments li {
	padding: 15px 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ccc;
}
ul.project_idea_comments li img {float: left;}
.comment_body {margin-left: 40px;}